@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

#root,
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* NavBar Styling */
.nav {
  display: flex;
  background: radial-gradient(rgb(85, 81, 81), rgb(172, 166, 166));
  width: 100%;
  height: 10%;
  align-items: flex-end;
}
.nav-link {
  margin-right: 0.5em;
  font-family: "Permanent Marker", cursive;
}

.logo {
  font-family: "Permanent Marker", cursive;
  margin-left: 1em;
  margin-right: 1em;
}
.loading {
  height: 100%;
}
/* Modal Page Styling */
.modal {
  position: fixed;
  background: white;
  left: 25%;
  width: 50%;
  height: 60%;
  top: 20%;
}
/* Main Area Styling */
.main-area {
  height: 90%;
  background: rgb(202, 236, 202);
  margin: 0;
}
.page {
  height: 100%;
  background: rgb(218, 233, 247);
  margin: 0;
  display: flex;
}
/* Audio Player Styling */
.react-h5-audio-player {
  margin-left: 10em;
  width: 400px;
}
.react-h5-audio-player > .flex {
  background: none !important;
  box-shadow: none !important;
}
.toggle-play-button {
  background: rgb(158, 158, 223) !important;
}
.pause-icon {
  box-shadow: rgb(158, 158, 223) 7px 0px 0px 0px inset !important;
}
.indicator {
  background: rgb(158, 158, 223) !important;
}
.volumn {
  border-bottom: 15px solid rgb(158, 158, 223) !important;
}

/* Browse Page Styling */
.search-column {
  height: 85%;
  width: 40%;
  border: 1px solid black;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}
.search-results {
  height: 70%;
  width: 95%;
  border: 1px solid black;
  overflow: scroll;
}

/* Podcast Show Page Styling */
.podcast-show {
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.podcast-show-card {
  border: 1px solid black;
  height: 40%;
  width: 70%;
  margin-top: 1em;
  display: flex;
  align-items: center;
}
.podcast-show-pic {
  height: 80%;
  width: 20%;
  border: 1px solid black;
  margin-left: 2em;
  display: flex;
  align-items: center;
}
.podcast-show-details {
  height: 90%;
  width: 75%;
  border: 1px solid black;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.podcast-show-pic > img {
  width: 100%;
  height: auto;
}
.podcast-show-title {
  /* border: 1px solid black; */
  height: 10%;
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.podcast-show-title > h2 {
  size: 2em;
}
.podcast-show-details-info {
  width: 95%;
  height: 82%;
  border: 1px solid black;
  display: flex;
}
.podcast-show-description {
  width: 40%;
  height: 100%;
  border: 1px solid black;
  overflow: scroll;
  padding: 2px;
}
.episode-list {
  height: 55%;
  width: 70%;
  margin-top: 2px;
  border: 1px solid black;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.episode-card {
  min-height: 7em;

  border-bottom: 1px solid black;
  display: flex;
}
.episode-card > img {
  height: 90%;
  width: auto;
}
