@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina&display=swap");

* {
  font-family: "Baloo Bhaina", cursive;
}
a {
  text-decoration: none;
  color: black;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* NavBar Styling */
.nav {
  display: flex;
  background: radial-gradient(#375c78, rgb(152, 182, 243));
  width: 100%;
  height: 10%;
  align-items: flex-end;
}
.nav-link {
  margin-right: 0.5em;
  font-family: "Permanent Marker", cursive;
}

.logo {
  font-family: "Permanent Marker", cursive;
  margin-left: 1em;
  margin-right: 1em;
}
.loading {
  height: 100%;
}
/* Modal Page Styling */
.modal-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.596);
  z-index: 1;
}
.modal {
  position: fixed;
  background: #bcd0f0;
  padding: 0.7em;
  left: 25%;
  width: 50%;
  height: 60%;
  top: 20%;
  z-index: 2;
  box-shadow: 2px 2px 2px 2px rgb(54, 52, 52);
  border-radius: 2em;
  overflow: scroll;
}
.episode-image {
  width: 5em;
  height: auto;
}
/* Main Area Styling */
.main-area {
  height: 90%;
  background: #4f94fb;
  margin: 0;
}
.page {
  height: 100%;
  background: #5297ff;
  margin: 0;
  display: flex;
}
/* Audio Player Styling */
.react-h5-audio-player {
  margin-left: 10em;
  width: 400px;
}
.react-h5-audio-player > .flex {
  background: none !important;
  box-shadow: none !important;
}
.toggle-play-button {
  background: rgb(158, 158, 223) !important;
}
.pause-icon {
  box-shadow: rgb(158, 158, 223) 7px 0px 0px 0px inset !important;
}
.indicator {
  background: rgb(158, 158, 223) !important;
}
.volumn {
  border-bottom: 15px solid rgb(158, 158, 223) !important;
}

/* Browse Page Styling */
.browser {
  justify-content: space-evenly;
  align-items: center;
}
.list-search-box {
  height: 85%;
  width: 40%;
  border: 1px solid black;
  border-radius: 3%;
  box-shadow: 1px 1px 2px 2px grey;
  padding: 1em;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 100%;
  background: #bcd0f0;
}
.list-results {
  overflow: scroll;
}
.search-column {
  height: 85%;
  width: 40%;
  border: 1px solid black;
  /* margin-top: 3em; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 100%;
  /* trying thisout */
  background: #bcd0f0;
  border-radius: 3%;
  box-shadow: 1px 1px 2px 2px grey;
  padding: 1em;
}
.searchbar {
  width: 100%;
}
.search-text {
  height: 50%;
  min-width: 50%;
  border-radius: 4%;
  font-size: 1em;
}
.search-logo {
  height: 30px;
  width: auto;
  border: 1px solid black;
}
.search-form {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%; */
  height: 100%;
  width: 100%;
}
.search-bar-label {
  margin-right: 0.5em;
  align-self: flex-end;
}
.search-results {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  overflow: scroll;
}
.podcast-search-result {
  display: grid;
  height: 5em;
  width: 100%;
  border: 1px solid black;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  overflow: hidden;
}
.podcast-search-result > img {
  grid-column: 1/2;
  border-right: 2px solid black;
  box-shadow: 1px, 2px 0px, 0px black;
}
.podcast-search-result-title {
  grid-column: 2/3;
}
.podcast-search-result-track-count {
  grid-column: 3/4;
}
.search-list-input {
  height: 50%;
  width: 50%;
  font-size: 1em;
}
.search-input {
  margin-left: 20%;
}
.search-button {
  height: 44%;
  width: 20%;
  margin-left: 2%;
  font-size: 0.9em;
  box-shadow: 1.5px 1.5px 1.5px 1.5px black;
  background: rgb(176, 240, 206);
}
.search-button:active {
  box-shadow: 0.4px 0.4px 0.4px 0.4px black;
}
/* Podcast Show Page Styling */
.podcast-show {
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  justify-content: space-evenly;
}

.podcast-show-card {
  /* border: 1px solid black; */
  height: 40%;
  width: 70%;
  margin-top: 1em;
  display: flex;
  align-items: center;
  background: #bcd0f0;
  border-radius: 1%;
  box-shadow: 2px 2px 2px 2px black;
}
.podcast-show-pic {
  height: 80%;
  width: 20%;
  /* border: 1px solid black; */
  margin-left: 2em;
  display: flex;
  align-items: center;
}
.podcast-show-details {
  height: 90%;
  width: 75%;
  /* border: 1px solid black; */
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pod-button-add {
  height: 30%;
  width: 30%;
  align-self: center;
  margin-left: 14%;
  font-size: 1em;
  box-shadow: 2px 2px 2px 2px;
  background: #68d5e7;
}
.podcast-show-pic > img {
  width: 100%;
  height: auto;
}
.podcast-show-title {
  /* border: 1px solid black; */
  height: 10%;
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.podcast-show-title > h2 {
  size: 2em;
}
.podcast-show-details-info {
  width: 95%;
  height: 82%;
  /* border: 1px solid black; */
  display: flex;
}
.podcast-show-description {
  width: 40%;
  height: 100%;
  /* border: 1px solid black; */
  overflow: scroll;
  padding: 2px;
}
.episode-list {
  height: 53%;
  width: 70%;
  margin-top: 2px;
  border: 1px solid black;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background: #bcd0f0;
  box-shadow: 2px 1px 2px 1px black;
}
.episode-card {
  min-height: 7em;

  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 20% 45% 15% 10% 10%;
}
.episode-card > img {
  height: 100%;
  width: auto;
}
.episode-card-button {
  width: 92%;
  height: 50%;
  align-self: center;
  box-shadow: 1.5px 1.5px 1.5px 1.5px black;
  border-radius: 2%;
}
.episode-card-button:active {
  box-shadow: 0.5 0.5 0.5 0.5 black;
}
.play {
  background: rgb(158, 158, 223);
}
.add {
  background: #68d5e7;
}
/* Login Page */
.login-area {
  justify-content: center;
}
.login-box {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 40%;
  background: rgb(120, 120, 243);
  box-shadow: 1px 1px 2px 2px black;
  margin-top: 5em;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form > input {
  width: 50%;
  height: 3em;
}
/* List Page */
.lists {
  justify-content: space-evenly;
  /* align-items: center; */
}
.list-manager {
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-manager-div {
  border: 1px solid black;
  height: 80%;
  border-radius: 3%;
  overflow: hidden;
  box-shadow: 1px 2px 1px 1px grey;
  background: #bcd0f0;
}
.list-manager-div > h1 {
  background: radial-gradient(#375c78, rgb(152, 182, 243));
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  border-bottom: 2px solid black;
}
.new-list-button {
  width: 10%;
  height: 2em;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  background: rgb(209, 245, 155);
  box-shadow: 2px 2px 2px 2px black;
}
.edit-list-button {
  width: 10%;
  height: 2em;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  background: rgb(227, 238, 124);
  box-shadow: 2px 2px 2px 2px black;
}
.new-list-button:active {
  box-shadow: 1px 1px 1px 1px black;
  outline: none;
}
.list-manager-row {
  height: 5em;
  /* border-bottom: 1px solid black; */
  display: grid;
  grid-template-columns: 30% 50% 20%;
}
.list-manager-row-title {
  margin: 0;
  margin-left: 5px;
  text-align: start;
  align-self: center;
  line-height: 100%;
}
.buzzwords {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
.buzzword {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
  background: #f0d8bb;
  border: solid black 2px;
  max-height: 25%;
  padding: 3px;
  border-radius: 5%;
}
.list-manager-row-buttons {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.current-user-lists {
  height: 80%;
  width: 100%;
  /* border: 1px solid black; */
  overflow: scroll;
  background: #bcd0f0;
}
.list-mini-dashboards {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.modal-image {
  width: 5em;
  height: auto;
}
.hot-lists,
.lists-followed {
  border: 1px solid black;
  box-shadow: 1px 2px 1px 1px grey;
  min-width: 100%;
  min-height: 35%;
  height: 40%;
  /* padding: 0.5em; */
  overflow: hidden;
  border-radius: 3%;
  display: grid;
  grid-template-rows: 20% 80%;
  background: #bcd0f0;
}
.hot-list-content {
  overflow: scroll;
  height: 95%;
}
.mini-list-show-row {
  display: grid;
  height: 3em;
  grid-template-columns: 60% 20% 20%;
}
.follow {
  background: #68d5e7;
}
.mini-list-name {
  padding-left: 0.5em;
}
.mini-dash-button {
  height: 3em;
  width: 7em;
  font-size: 0.8;
  align-self: center;
  box-shadow: 1.5px 1.5px 1.5px 1.5px grey;
}
.mini-button-link {
  height: fit-content;
  width: fit-content;
  align-self: center;
}
.mini-delete {
  background: rgb(255, 97, 97);
}
.mini-view {
  background: rgb(144, 221, 245);
}
.mini-dash-button:active {
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}
.link-button {
  height: fit-content;
  width: fit-content;
  align-self: center;
}
.dash-label {
  text-align: center;
  font-size: 2.3em;
  background: radial-gradient(#375c78, rgb(152, 182, 243));
  height: 100%;
  margin: 0;
  border-bottom: 2px solid black;
  align-self: center;
}
.mini-dash-rows {
  overflow: scroll;
}
.list-manager-title {
  align-self: center;
}
/* List Show Page */
.list-show {
  justify-content: center;
  align-items: center;
}
.list-show-div {
  width: 60%;
  height: 95%;
  border: 1px solid black;
  border-radius: 3%;
  box-shadow: 1px 2px 1px 1px grey;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 20% 70%;
  overflow: hidden;
  background: #bcd0f0;
}
.list-show-title {
  margin: 0;
  background: radial-gradient(#375c78, rgb(152, 182, 243));
  align-self: stretch;
  display: flex;
  border-bottom: 2px solid black;
  justify-content: center;
}
.list-show-title > h1 {
  margin: 0;
  font-size: 2.5em;
}
.list-page-details {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.list-description {
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  height: 75%;
  width: 75%;
  padding: 0.5em;
  overflow: scroll;
  background: rgb(175, 168, 168);
  border: 2px solid black;
  border-radius: 3%;
}
.top-list-details {
  grid-column: 2/3;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 50% 50%;
}

.bottom-list-details {
  grid-column: 2/3;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 50% 50%;
}
.list-show-details {
  font-size: 0.6em;
}
.list-show-display-area {
  align-self: stretch;
  /* background: greenyellow; */

  display: grid;
  grid-template-rows: 10% 40% 10% 40%;
  grid-template-columns: 100%;
}
.list-stat {
  margin: 0;
}
.list-section-head {
  align-self: stretch;
  background: radial-gradient(#375c78, rgb(152, 182, 243));
}
.list-section-head > h2 {
  margin: 0;
}
.list-row-container {
  overflow: scroll;
}
.list-page-details-button {
  height: 70%;
  width: 60%;
  box-shadow: 2px 2px 2px 2px grey;
}
.details-edit {
  background: rgb(227, 238, 124);
}
.details-follow {
  background: #68d5e7;
}
.list-page-details-button:active {
  box-shadow: 1px 1px 1px 1px grey;
}
.list-rows-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.list-show-row-button {
  height: 65%;
  width: 45%;
  box-shadow: 1.5px 1.5px 1.5px 1.5px black;
}
.list-show-row-button:active {
  box-shadow: 0.5 0.5 0.5 0.5 black;
}
.list-show-page-episode-row,
.list-show-page-podcast {
  height: 4em;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-rows: 100%;
  overflow: hidden;
}
.list-show-page-episode-row > h3 {
  font-size: 1em;
}
.list-show-page-podcast > img {
  height: 100%;
  width: auto;
  justify-self: center;
}

.list-episode-image-row {
  height: 100%;
  width: auto;
  justify-self: center;
}
.view-button {
  background: rgb(144, 221, 245);
}
/* Home Page */
.user-profile {
  height: 90%;
  border: 1px solid black;
  border-radius: 3%;
  width: 50%;
}
.profile-pic {
  width: 50%;
  height: auto;
}
