@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

#root,
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* NavBar Styling */
.nav {
  display: flex;
  background: radial-gradient(rgb(85, 81, 81), rgb(172, 166, 166));
  width: 100%;
  height: 10%;
  align-items: flex-end;
}
.nav-link {
  margin-right: 0.5em;
  font-family: "Permanent Marker", cursive;
}
.logo {
  font-family: "Permanent Marker", cursive;
  margin-left: 1em;
  margin-right: 1em;
}
/* Main Area Styling */
.main-area {
  height: 90%;
  background: rgb(202, 236, 202);
}
